<div class="sidebar">

    <a href="/products/pump" class="odd">
        <img src="/images/icons/right-thin-chevron.svg" alt="" style="width: 7px; margin-right: 5px"><span class="button">Bombas</span>
    </a>
    <a href="/products/motor" class="even">
        <img src="/images/icons/right-thin-chevron.svg" alt="" style="width: 7px; margin-right: 5px"><span class="button">Motores</span>
    </a>

    <a href="/products/moto_reducer" class="odd">
        <img src="/images/icons/right-thin-chevron.svg" alt="" style="width: 7px; margin-right: 5px"><span>Motorreductores</span>
    </a>

    <a href="/products/y" class="even">
        <img src="/images/icons/right-thin-chevron.svg" alt="" style="width: 7px; margin-right: 5px"><span>Ll</span>
    </a>

</div>