<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>TECNIMOTORES</title>
	<!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
	<!-- <link rel="stylesheet" href="/css/confetti_cuisine.css"> -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<header>

		<div class="top-header">
			<p>Llámenos: 2699129 - 2838289</p>
		</div>

		<div class="bottom-header">
			<a href="/"><img src="/images/logo.svg" alt="" class="logo"></a>

			<nav class="navbar">
				<ul class="navbar__links">
					<li><a href="/">Inicio</a></li>
					<li><a href="/products">Catálogo</a></li>
					<li><a href="">Sobre nosotros</a></li>
					<li><a href="contact">Contáctenos</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- <nav class="navbar">
		<div>
            <h1 id="title">TECNIMOTORES</h1>
        </div>
        
		<div>
			<a href="/">
				<span class="button">Inicio</span>
            </a>
            <a href="/products">
                <span>Tienda</span>
            </a>
			<a href="/products/pump">
				<span class="button">Bombas</span>
			</a>
			<a href="/products/motor">
				<span class="button">Motores</span>
			</a>
		</div>
	</nav> -->

	<div class="container">
		<%- body %>
	</div>

	<!-- <footer>
        <h1>FOOTER</h1>
	</footer> -->

	<footer>

		<!-- <div class="column">
            <img src="./images/white_logo.svg" alt="" class="logo">
            <p>Compraventa y reparación de motores eléctricos</p>
        </div>

        <div class="column">

            <div class="section">
                <img src="./images/icons/pin.svg" alt="" class="icon">
                <div class="row">
                    <h2 class="sm-text">Visítenos</h2>
                    <p>Cra. 45 #43-39</p>
                    <p>Barrio La Candelaria</p>
                    <p>Medellín, Colombia.</p>
                </div>
            </div>

            <div class="section">
                <img src="./images/icons/agenda.svg" alt="" class="icon">
                <div class="row">
                    <h2 class="sm-text">Llámenos</h2>
                    <p>(4) 2327720</p>
                    <p>(+57) 3012019457</p>
                </div>
            </div>
        </div>
        <div class="column">

            <div class="section">
                <img src="./images/icons/mail.svg" alt="" class="icon">
                <div class="row">
                    <h2 class="sm-text">Escríbanos</h2>
                    <p>tecnimotores@tecnimotores.com</p>
                </div>
            </div>

            <form action="" class="row">
                <label for="">Nombre</label>
                <input type="text" placeholder="Nombre">
                <input type="email" name="" id="" placeholder="Correo electrónico">
                <input type="tel" name="" id="" placeholder="Número">
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
            </form>


        </div> -->



		<div class="x-column">
			<img src="/images/white_logo.svg" alt="" class="logo">
		</div>

		<div class="x-column">
			<img src="./images/icons/pin.svg" alt="" class="icon">
			<div class="row">
				<h2 class="sm-text">Visítenos</h2>
				<p>Cra. 45 #43-39</p>
				<p>Barrio La Candelaria</p>
				<p>Medellín, Colombia.</p>
			</div>
		</div>

		<div class="x-column">
			<img src="./images/icons/mail.svg" alt="" class="icon">
			<div class="row">
				<h2 class="sm-text">Escríbanos</h2>
				<p>tecnimotores@tecnimotores.com</p>
			</div>
		</div>




		<div class="x-column">
			<p>Compraventa y reparación de motores eléctricos</p>
		</div>

		<div class="x-column">
			<img src="./images/icons/agenda.svg" alt="" class="icon">
			<div class="row">
				<h2 class="sm-text">Llámenos</h2>
				<p>(4) 2327720</p>
				<p>(+57) 3012019457</p>
			</div>
		</div>

		<div class="x-column">
			<form action="" class="row">
				<input type="text" placeholder="Nombre">
				<input type="email" name="" id="" placeholder="Correo electrónico">
				<input type="tel" name="" id="" placeholder="Número">
				<textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
			</form>
		</div>


	</footer>

</body>

</html>